@font-face {
  font-family: "myriadprobold";
  src: local("E:/www/adatsite/fonts/MyriadProBold.otf");
}
@font-face {
  font-family: "myriadpro";
  src: local("E:/www/adatsite/fonts/MyriadProReg.otf");
}
@font-face {
  font-family: "myriadproit";
  src: local("E:/www/adatsite/fonts/MyriadProIt.otf");
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
}

input, textarea {
  outline: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

.wrapper {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header-firstline {
  display: flex;
  justify-content: space-between;
  background: #f6f6f6;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  left: 0;
}

.headerNav__container {
  display: flex;
  width: 100%;
  position: relative;
}

.loginNavigation {
  display: flex;
}
.loginNavigation li {
  margin: 0 10px;
  font-size: 11px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 1;
}
.loginNavigation li:first-child {
  margin-left: 0;
}
.loginNavigation li a {
  font-size: 11px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 1;
}

.login {
  display: flex;
}
.login li {
  margin: 0 10px;
  font-size: 11px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 1;
}
.login li:nth-child(2) {
  margin: 0;
}
.login li a {
  font-size: 11px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 1;
}

.cartAndRegion-panel {
  position: absolute;
  top: 16px;
  right: 0;
  font-size: 11px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 1;
  z-index: 4;
}
.cartAndRegion-panel a {
  margin-left: 15px;
  font-size: 11px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 1;
}

.header__secondline {
  position: relative;
  height: 110px;
  margin-top: 45px;
}

.searchForm__container {
  position: absolute;
  top: 0;
  right: 0;
}

.logo {
  margin-top: 50px;
  position: absolute;
  bottom: 20px;
  left: 0;
}
.logo a {
  display: flex;
  color: #454545;
  font-size: 44px;
  font-weight: normal;
  font-family: myriadprobold, sans-serif;
  color: #454545;
  line-height: 1;
}
.logo a img {
  border-style: none;
  transform: translateY(5px);
  height: 32px;
  padding-right: 10px;
}

.searchForm {
  font-family: myriadpro, sans-serif;
  margin-top: 20px;
  height: 30px;
  width: 260px;
  border: 1px solid #e1e1e1;
  display: flex;
}
.searchForm label {
  display: none;
}
.searchForm input {
  width: 100%;
  padding-left: 10px;
  border: none;
}
.searchForm button {
  border: none;
  cursor: pointer;
  background: none;
  font-size: 15px;
  color: #888888;
}

.mainNavigation__container {
  position: absolute;
  bottom: 20px;
  right: 0;
}

.cart__mobile {
  display: none;
}

.u_mainNavigation {
  display: inline-flex;
  margin: 0;
}
.u_mainNavigation li {
  margin: 10px 15px 0;
  white-space: nowrap;
}
.u_mainNavigation li:last-child {
  margin: 10px 0 0 25px;
}
.u_mainNavigation li a {
  font-size: 14px;
  font-weight: bold;
  font-family: myriadpro, sans-serif;
  color: #565656;
  line-height: 1;
  opacity: 0.8;
  padding: 10px;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.u_mainNavigation li a:hover {
  text-decoration: underline;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  opacity: 1;
}

.sliderBig {
  background: #cccccc;
  height: 1070px;
}

.slider__container {
  position: relative;
  height: 100%;
}

.slider__text {
  font-size: 30px;
  font-weight: bold;
  font-family: myriadpro, sans-serif;
  color: #454545;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}
.slider__text h3 {
  font-size: 100px;
  color: #FFFFFF;
  margin: 20px 0;
}
.slider__text span {
  font-size: 35px;
}
.slider__text a {
  font-size: 14px;
  color: #454545;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.slider__text a:hover {
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: #FFFFFF;
  text-decoration: underline;
}

.sliderRing:hover {
  fill: #FFFFFF;
}

.mobile__sliderBig {
  display: none;
  background: #cccccc;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  position: relative;
}
.mobile__sliderBig a {
  font-size: 14px;
  font-weight: normal;
  font-family: myriadprobold, sans-serif;
  color: #FFFFFF;
  line-height: 1;
  transform: translateX(-50%);
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  bottom: 20px;
  left: 50%;
}
.mobile__sliderBig a:hover {
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-decoration: underline;
}

.mobile__sliderBig__container {
  font-size: 18px;
  font-weight: normal;
  font-family: myriadprobold, sans-serif;
  color: #FFFFFF;
  line-height: 1;
  margin-top: 10px;
  border: 1px solid #dbdbdb;
  padding: 0 7px 30px;
  display: inline-block;
}
.mobile__sliderBig__container h3 {
  font-size: 35px;
  margin: 30px 5px 0;
}
.mobile__sliderBig__container p {
  margin: 13px 0 18px;
}

.s_showcase {
  background: #f6f6f6;
}

.showcase {
  padding: 30px 0 65px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 430px 250px 250px;
}

.showcase__item1, .showcase__item2, .showcase__item3, .showcase__item4, .showcase__item5, .showcase__item6 {
  background: #cccccc;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  position: relative;
}
.showcase__item1 a, .showcase__item2 a, .showcase__item3 a, .showcase__item4 a, .showcase__item5 a, .showcase__item6 a {
  position: absolute;
  font-size: 14px;
  font-weight: normal;
  font-family: myriadprobold, sans-serif;
  color: #FFFFFF;
  line-height: 1;
  transform: translateX(-50%);
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.showcase__item1 a:hover, .showcase__item2 a:hover, .showcase__item3 a:hover, .showcase__item4 a:hover, .showcase__item5 a:hover, .showcase__item6 a:hover {
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-decoration: underline;
}

.showcase__item1 {
  grid-column: span 2;
}
.showcase__item1 a {
  bottom: 20px;
  left: 50%;
}

.showcase__item1__box {
  font-size: 25px;
  font-weight: normal;
  font-family: myriadprobold, sans-serif;
  color: #FFFFFF;
  line-height: 1;
  margin-top: 110px;
  border: 1px solid #dbdbdb;
  padding: 0 20px 70px;
  display: inline-block;
}
.showcase__item1__box h3 {
  font-size: 40px;
  margin: 70px 10px 20px;
}

.leftArrow, .rightArrow {
  top: 50%;
  position: absolute;
  width: 45px;
}
.leftArrow a, .rightArrow a {
  font-size: 40px;
  position: static;
  color: #FFFFFF;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.leftArrow a:hover, .rightArrow a:hover {
  color: #565656;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.leftArrow {
  left: 10px;
  transform: translateX(50%);
}

.rightArrow {
  right: 10px;
  transform: translateX(-50%);
}

.nameWithStripes1 {
  display: flex;
}
.nameWithStripes1 hr {
  width: 100px;
  transform: translateY(89px);
  border: 1px solid #FFFFFF;
}

.showcase__item2 {
  grid-row: span 2;
}
.showcase__item2 a {
  bottom: 50px;
}

.showcase__item2__box {
  font-size: 20px;
  font-weight: bold;
  font-family: myriadprobold, sans-serif;
  color: #333333;
  line-height: 1;
  margin-top: 40px;
}
.showcase__item2__box h3 {
  font-size: 25px;
  margin: 15px 10px 20px;
}
.showcase__item2__box span {
  font-size: 18px;
}

.nameWithStripes2 {
  display: flex;
}
.nameWithStripes2 hr {
  width: 50px;
  transform: translateY(22px);
  border: 1px solid #333333;
}

.showcase__item3 a, .showcase__item6 a {
  bottom: 20px;
}

.showcase__item4 {
  grid-row: span 2;
}
.showcase__item4 a {
  bottom: 60px;
}

.showcase__item4__box {
  font-size: 30px;
  font-weight: normal;
  font-family: myriadprobold, sans-serif;
  color: #FFFFFF;
  line-height: 1;
  margin-top: 210px;
}
.showcase__item4__box span {
  font-size: 18px;
  margin: 20px 0;
}
.showcase__item4__box h3 {
  font-size: 35px;
  margin: 0;
}

.nameWithStripes4 {
  display: flex;
}
.nameWithStripes4 hr {
  width: 80px;
  transform: translateY(12px);
  border: 1px solid #FFFFFF;
}

.showcase__item3__box, .showcase__item6__box {
  font-size: 23px;
  font-weight: normal;
  font-family: myriadprobold, sans-serif;
  color: #FFFFFF;
  line-height: 1;
  margin-top: 90px;
}
.showcase__item3__box h3, .showcase__item6__box h3 {
  font-size: 40px;
  margin: 0 0 20px;
}

.showcase__item5 {
  font-size: 30px;
  font-weight: bold;
  font-family: myriadprobold, sans-serif;
  color: #FFFFFF;
  line-height: 1;
}
.showcase__item5 p {
  margin-top: 115px;
}

.showcase__item6__box {
  font-size: 25px;
}
.showcase__item6__box h3 {
  font-size: 30px;
}

.nameWithStripes6 {
  display: flex;
}
.nameWithStripes6 hr {
  width: 50px;
  transform: translateY(10px);
  border: 1px solid white;
}

.shop-navigation {
  margin-top: 50px;
  text-align: center;
}
.shop-navigation ul {
  display: inline-flex;
}
.shop-navigation ul li {
  margin: 0 25px;
}
.shop-navigation ul li a {
  font-size: 16px;
  font-weight: normal;
  font-family: myriadprobold, sans-serif;
  color: #999999;
  line-height: 1;
  padding: 10px;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.shop-navigation ul li a:hover {
  font-size: 16px;
  font-weight: normal;
  font-family: myriadprobold, sans-serif;
  color: #565656;
  line-height: 1;
  border-bottom: 2px solid #454545;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.shop-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buy {
  opacity: 0;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.shop-item {
  display: flex;
  flex-direction: column;
  width: 23%;
}
.shop-item img {
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 350px;
}
.shop-item:hover .buy {
  opacity: 1;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.namePrice {
  font-size: 13px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #565656;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.buy__cartInfo {
  margin-top: 10px;
  border: 2px solid #454545;
  display: flex;
  justify-content: space-around;
}
.buy__cartInfo a {
  width: 50%;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  font-family: myriadprobold, sans-serif;
  color: #454545;
  line-height: 30px;
}
.buy__cartInfo a:nth-child(2) {
  border-left: 2px solid #454545;
}

.buy__wish {
  display: flex;
  justify-content: space-between;
}
.buy__wish a {
  font-size: 13px;
  font-weight: normal;
  font-family: myriadproit, sans-serif;
  color: #454545;
  line-height: 30px;
}

.buyLink {
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.buyLink:hover {
  text-decoration: underline;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.cost {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: end;
}
.cost span {
  text-decoration: line-through;
  opacity: 0.6;
}

.s_showMore {
  display: flex;
}
.s_showMore hr {
  width: 40%;
  color: #565656;
}

.shopMore {
  margin-top: 5px;
  white-space: nowrap;
  font-size: 13px;
  font-weight: normal;
  font-family: myriadprobold, sans-serif;
  color: #454545;
  line-height: 1;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.shopMore:hover {
  text-decoration: underline;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.footer {
  background: #1f1f1f;
  margin-top: 60px;
}

.columnContainer {
  display: flex;
  padding-top: 60px;
}

.footer__column_first, .footer__column_second, .footer__column_third {
  display: flex;
  flex-direction: column;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer__column_first {
  width: 40%;
  padding-right: 25px;
}

.footer__column_second {
  width: 35%;
  padding: 0 25px;
}

.footer__column_third {
  width: 25%;
  padding-left: 25px;
}

.aboutFengo, .mostFavorite, .blogLinks, .quickContact, .subscribeForm, .information, .myAccount, .customer, .contacts, .twitter, .facebook {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}
.aboutFengo h3, .mostFavorite h3, .blogLinks h3, .quickContact h3, .subscribeForm h3, .information h3, .myAccount h3, .customer h3, .contacts h3, .twitter h3, .facebook h3 {
  margin: 0;
  font-size: 17px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #b6b6b6;
  line-height: 1.2;
  text-transform: uppercase;
}

.aboutFengo__container, .miniItems__container, .quickContact__container {
  display: flex;
  margin-top: 35px;
}
.aboutFengo__container img, .miniItems__container img, .quickContact__container img {
  -o-object-fit: cover;
  object-fit: cover;
}

.aboutFengo__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 1.4;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.aboutFengo__container img {
  width: 180px;
  float: left;
  padding-right: 20px;
}
.aboutFengo__container a {
  line-height: 2.5;
}

.footerLink {
  text-transform: uppercase;
  width: fit-content;
  font-size: 14px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #b6b6b6;
  line-height: 1.2;
}
.footerLink:hover {
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-decoration: underline;
}

.miniHeader_arrows, .miniHeader_button {
  display: flex;
  justify-content: space-between;
}

.arrowsContainer {
  width: 50px;
  display: inline-block;
  font-size: 22px;
}
.arrowsContainer a {
  color: #b6b6b6;
}

.blogLinks__container {
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
}

.blogLinksItem1 img, .blogLinksItem2 img {
  width: 205px;
  -o-object-fit: cover;
  object-fit: cover;
}
.blogLinksItem1 a p, .blogLinksItem2 a p {
  font-size: 13px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #999999;
  line-height: 1.3;
  text-transform: uppercase;
}

.quickContact__container {
  justify-content: space-between;
}
.quickContact__container img {
  height: 210px;
}

.quickContact__form {
  width: 48%;
}
.quickContact__form label {
  display: none;
}
.quickContact__form input, .quickContact__form textarea {
  width: 100%;
  background: #1f1f1f;
  padding: 10px;
  line-height: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #999999;
  line-height: 1;
  border: 1px solid #999999;
  margin-bottom: 10px;
}
.quickContact__form input:nth-child(3), .quickContact__form textarea:nth-child(3) {
  min-height: 120px;
}
.quickContact__form input:nth-child(3) text, .quickContact__form textarea:nth-child(3) text {
  padding: 10px;
}

.sendMessage {
  font-size: 12px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #999999;
  line-height: 1;
  text-transform: uppercase;
}

.subscribeForm form {
  display: inline-flex;
  width: 100%;
  border: 1px solid #999999;
}
.subscribeForm form label {
  display: none;
}
.subscribeForm form input {
  padding-left: 50px;
  background: #1f1f1f;
  font-size: 12px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #999999;
  line-height: 1;
  line-height: 50px;
  border: none;
  width: 100%;
}
.subscribeForm form button {
  background: #1f1f1f;
  border: none;
  font-size: 30px;
  color: #7e7e7e;
  padding: 0 20px;
  margin-bottom: 5px;
  cursor: pointer;
}

.miniItems__container {
  display: flex;
  justify-content: space-between;
}

.shop-miniItem1, .shop-miniItem2 {
  width: 150px;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.shop-miniItem1 img, .shop-miniItem2 img {
  -o-object-fit: cover;
  object-fit: cover;
  height: auto;
}
.shop-miniItem1:hover, .shop-miniItem2:hover {
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  box-shadow: inset 0 0 10px 5px #7e7e7e;
}

.shop-miniItem__name {
  display: flex;
}

.namePrice_miniItem {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 1.2;
}

.cost_miniItem {
  margin-left: 15px;
  font-size: 14px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #FFFFFF;
  line-height: 1.4;
}
.cost_miniItem span {
  text-decoration: line-through;
}

.miniHeader__button {
  display: flex;
  justify-content: space-between;
}

.miniButton {
  width: 70px;
  height: 20px;
  font-size: 12px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 20px;
  border: 1px solid #7e7e7e;
  text-align: center;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.miniButton:hover {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.twitter__container1, .twitter__container2 {
  margin-top: 30px;
}

.twitter__name {
  display: flex;
}
.twitter__name img {
  height: 40px;
}

.twitter__name__link {
  padding-left: 20px;
  font-size: 17px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 1.2;
}
.twitter__name__link span {
  font-size: 13px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #999999;
  line-height: 1.2;
}

.twitter__post {
  font-size: 14px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 1.4;
}
.twitter__post p {
  margin: 20px 0 0;
}

.twitter__links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #999999;
  line-height: 1.2;
}
.twitter__links p {
  margin: 0;
}
.twitter__links ul {
  display: flex;
  margin: 0;
}
.twitter__links ul li {
  padding-left: 20px;
}
.twitter__links ul li a {
  font-size: 13px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #999999;
  line-height: 1.2;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.twitter__links ul li a:hover {
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: #FFFFFF;
}

.facebook__container {
  margin-top: 30px;
  font-size: 13px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #999999;
  line-height: 1.2;
}
.facebook__container a {
  font-size: 13px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #b6b6b6;
  line-height: 1.2;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.facebook__container a:hover {
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: #FFFFFF;
  text-decoration: underline;
}

.facebook__text {
  display: flex;
}
.facebook__text p {
  margin: 0;
}
.facebook__text a {
  margin-left: 10px;
}

.facebook__users {
  margin-top: 20px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.facebook__users img {
  height: 60px;
  border: 3px solid #565656;
}

.information, .myAccount, .customer, .contacts {
  padding-bottom: 45px;
}
.information ul, .myAccount ul, .customer ul, .contacts ul {
  margin-top: 25px;
}
.information ul li, .myAccount ul li, .customer ul li, .contacts ul li {
  padding: 8px 0;
}
.information ul li a, .myAccount ul li a, .customer ul li a, .contacts ul li a {
  font-size: 14px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 1;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.information ul li a:hover, .myAccount ul li a:hover, .customer ul li a:hover, .contacts ul li a:hover {
  color: #FFFFFF;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.contacts {
  font-size: 14px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 1;
}

.footer__Links {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.paymentSystems ul {
  display: flex;
  justify-content: space-between;
}
.paymentSystems ul li {
  margin: 0 8px;
}
.paymentSystems ul li:first-child {
  margin-left: 0;
}

.reservedRights__container {
  display: flex;
  margin: -25px 0 35px;
}
.reservedRights__container p {
  font-size: 12px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #999999;
  line-height: 1;
}

.cnContainer ul {
  display: flex;
}
.cnContainer ul li {
  margin: 0 4px;
  border: 2px solid #999999;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.cnContainer ul li:hover {
  box-shadow: inset 0 0 5px 3px #7e7e7e;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.cnContainer ul li a {
  color: #999999;
  font-size: 22px;
  padding: 5px;
}

.marker__container {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.marker__container a {
  position: static;
  margin: 0 3px;
}

.sliderRing:hover {
  fill: #FFFFFF;
}

@media only screen and (max-width: 480px) {
  .wrapper {
    max-width: 480px;
  }

  .container {
    max-width: 440px;
    margin: 0 auto;
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .loginNavigation {
    justify-content: space-around;
    width: 100%;
  }
  .loginNavigation li:nth-child(4), .loginNavigation li :nth-child(5), .loginNavigation li :nth-child(6) {
    display: none;
  }

  .cartAndRegion-panel {
    display: none;
  }

  .login {
    display: none;
  }

  .cart__mobile {
    display: flex;
  }
  .cart__mobile a {
    font-size: 14px;
    font-weight: normal;
    font-family: myriadpro, sans-serif;
    color: #565656;
    line-height: 1;
    opacity: 0.8;
  }

  .nameWithStripesSlider {
    display: flex;
    justify-content: center;
  }
  .nameWithStripesSlider hr {
    width: 15px;
    transform: translateY(56px);
    border: 2px solid #FFFFFF;
    margin: 0;
  }

  .sliderBig {
    display: none;
  }

  .mobile__sliderBig {
    display: flex;
  }

  .mobile__sliderBig__container {
    margin: 20px 15px;
    width: 100%;
  }

  .showcase {
    grid-template-columns: 100%;
    grid-template-rows: 165px 540px 190px 190px 400px 190px;
    grid-gap: 10px;
  }

  .showcase__item1 {
    grid-column: unset;
  }
  .showcase__item1 a {
    bottom: 7px;
  }

  .leftArrow, .rightArrow {
    display: none;
  }

  .showcase__item1__box {
    display: block;
    margin: 15px 15px 30px;
    padding: 0 20px 35px;
    font-size: 15px;
  }
  .showcase__item1__box p {
    margin: 0;
  }

  .nameWithStripes1 h3 {
    margin: 35px 10px 10px;
    font-size: 21px;
  }
  .nameWithStripes1 hr {
    transform: translateY(43px);
  }

  .showcase__item2 {
    grid-row: unset;
    font-size: 15px;
  }
  .showcase__item2 a {
    bottom: 20px;
  }

  .showcase__item2__box {
    font-size: 15px;
  }
  .showcase__item2__box p {
    margin: 0;
  }

  .nameWithStripes2 h3 {
    margin: 10px 5px 10px;
    font-size: 20px;
  }
  .nameWithStripes2 hr {
    width: 40px;
    transform: translateY(17px);
  }

  .showcase__item3__box, .showcase__item6__box {
    margin-top: 60px;
    font-size: 20px;
  }
  .showcase__item3__box h3, .showcase__item6__box h3 {
    margin: 0 0 15px;
    font-size: 35px;
  }

  .showcase__item6__box p {
    margin: 0;
  }

  .nameWithStripes6 hr {
    width: 40px;
    transform: translateY(9px);
  }
  .nameWithStripes6 h3 {
    font-size: 25px;
  }

  .showcase__item4 {
    grid-row: unset;
    order: 1;
  }
  .showcase__item4 a {
    bottom: 50px;
  }

  .showcase__item4__box {
    margin-top: 130px;
  }

  .showcase__item5 {
    order: 1;
  }

  .showcase__item5 p {
    margin-top: 85px;
  }

  .shop-navigation {
    margin-top: 10px;
  }
  .shop-navigation ul {
    display: flex;
    flex-direction: column;
  }
  .shop-navigation ul li {
    margin-top: 20px;
  }

  .shop-container {
    margin-top: 30px;
    flex-direction: column;
    align-content: center;
  }

  .shop-item {
    width: 100%;
    max-width: 280px;
  }
  .shop-item:nth-child(n+6) {
    display: none;
  }

  .shopMore {
    padding: 0 20px;
  }

  .s_showMore hr {
    transform: translateY(2px);
  }

  .columnContainer {
    flex-direction: column;
    padding: 0;
    margin-top: 10px;
  }

  .footer__column_first, .footer__column_second, .footer__column_third {
    width: 100%;
    padding: 0;
  }

  .aboutFengo, .mostFavorite, .blogLinks, .quickContact, .subscribeForm, .information, .myAccount, .customer, .contacts, .twitter, .facebook {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
  }

  .aboutFengo img {
    width: 120px;
  }

  .blogLinksItem1 {
    width: 100%;
  }
  .blogLinksItem1 img {
    width: 100%;
  }
  .blogLinksItem1 a p {
    font-size: 15px;
  }

  .blogLinksItem2 {
    display: none;
  }

  .quickContact__container {
    flex-direction: column;
  }
  .quickContact__container img {
    width: 100%;
    height: 130px;
  }

  .quickContact form {
    margin-top: 20px;
    width: 100%;
  }

  .subscribeForm form input {
    padding-left: 10px;
  }

  .miniItems__container {
    margin-top: 20px;
  }

  .shop-miniItem1, .shop-miniItem2 {
    width: 47%;
  }
  .shop-miniItem1 a, .shop-miniItem2 a {
    width: 100%;
  }
  .shop-miniItem1 a img, .shop-miniItem2 a img {
    width: 100%;
  }

  .namePrice_miniItem {
    flex-direction: column;
  }

  .cost_miniItem {
    margin: 15px 0 0;
  }

  .twitter__container1 {
    padding-bottom: 20px;
  }

  .twitter__links {
    margin-top: 15px;
  }

  .facebook__container a {
    text-align: center;
  }

  .facebook__users {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .facebook__users a:nth-child(8) {
    display: none;
  }
  .facebook__users a:nth-child(7) {
    display: none;
  }

  .footer__Links {
    flex-direction: column;
    padding: 0 20px;
  }

  .cnContainer ul {
    flex-wrap: wrap;
  }
  .cnContainer ul li {
    margin: 0 4px 8px;
  }

  .paymentSystems ul {
    display: flex;
    justify-content: space-around;
  }

  .cnContainer {
    flex-wrap: wrap;
  }

  .reservedRights__container {
    display: flex;
    flex-direction: column;
    margin: 0 0 35px;
  }
  .reservedRights__container p {
    margin: 0 20px 5px;
  }
}

/*# sourceMappingURL=stile.css.map */
