@font-face {
  font-family: "myriadprobold";
  src: local("E:/www/adatsite/fonts/MyriadProBold.otf");
}
@font-face {
  font-family: "myriadpro";
  src: local("E:/www/adatsite/fonts/MyriadProReg.otf");
}
@font-face {
  font-family: "myriadproit";
  src: local("E:/www/adatsite/fonts/MyriadProIt.otf");
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
}

input, textarea {
  outline: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header-firstline {
  display: flex;
  justify-content: space-between;
  background: #f6f6f6;
}

.loginNavigation {
  display: flex;
}
.loginNavigation li {
  margin: 0 10px;
  font-size: 11px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 1;
}
.loginNavigation li:nth-child(5) {
  margin: 0;
}
.loginNavigation li a {
  font-size: 11px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 1;
}

.header-secondline {
  display: flex;
  flex-direction: row-reverse;
}

.logo {
  margin-top: 50px;
}
.logo a {
  display: flex;
  color: #454545;
  font-size: 44px;
  font-weight: normal;
  font-family: myriadprobold, sans-serif;
  color: #454545;
  line-height: 1;
}
.logo a img {
  border-style: none;
  transform: translateY(5px);
  height: 32px;
  padding-right: 10px;
}

.searchForm {
  font-family: myriadpro, sans-serif;
  height: 30px;
}
.searchForm label {
  display: flex;
  border: 1px solid #e1e1e1;
  width: 260px;
  height: 30px;
}
.searchForm label input {
  width: 100%;
  padding-left: 10px;
  border: none;
}
.searchForm label button {
  border: none;
  cursor: pointer;
  background: none;
  font-size: 15px;
  color: #888888;
}

.mainNavigation {
  align-self: flex-end;
}

.u_mainNavigation {
  display: flex;
  margin: 0;
}
.u_mainNavigation li {
  padding: 10px 25px 0;
  white-space: nowrap;
}
.u_mainNavigation li a {
  font-size: 14px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #565656;
  line-height: 1;
}

.sliderBig {
  background: #cccccc;
  height: 1070px;
}

.s_showcase {
  background: #f6f6f6;
}

.showcase {
  padding-top: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 430px 250px 250px;
}

.showcase__item1, .showcase__item2, .showcase__item3, .showcase__item4, .showcase__item5 {
  background: #cccccc;
  margin: 0 auto;
  width: 100%;
}

.showcase__item1 {
  grid-column: span 2;
}

.showcase__item2 {
  grid-row: span 2;
}

.showcase__item4 {
  grid-row: span 2;
}

.shop-navigation {
  margin-top: 50px;
  text-align: center;
}
.shop-navigation ul {
  display: inline-flex;
}
.shop-navigation ul li {
  margin: 0 25px;
}
.shop-navigation ul li a {
  font-size: 16px;
  font-weight: normal;
  font-family: myriadprobold, sans-serif;
  color: #999999;
  line-height: 1;
  padding: 10px;
}
.shop-navigation ul li a:hover {
  font-size: 16px;
  font-weight: normal;
  font-family: myriadprobold, sans-serif;
  color: #565656;
  line-height: 1;
  border-bottom: 2px solid #454545;
}

.shop-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buy {
  opacity: 0;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.shop-item {
  display: flex;
  flex-direction: column;
  max-width: 270px;
}
.shop-item img {
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 350px;
}
.shop-item:hover .buy {
  opacity: 1;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.namePrice {
  font-size: 13px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #565656;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.buy__cartInfo {
  margin-top: 10px;
  border: 2px solid #454545;
  display: flex;
  justify-content: space-around;
}
.buy__cartInfo a {
  width: 50%;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  font-family: myriadprobold, sans-serif;
  color: #454545;
  line-height: 30px;
}
.buy__cartInfo a:nth-child(2) {
  border-left: 2px solid #454545;
}

.buy__wish {
  display: flex;
  justify-content: space-between;
}
.buy__wish a {
  font-size: 13px;
  font-weight: normal;
  font-family: myriadproit, sans-serif;
  color: #454545;
  line-height: 30px;
}

.buyLink {
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.buyLink:hover {
  text-decoration: underline;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.cost {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: end;
}
.cost span {
  text-decoration: line-through;
  opacity: 0.6;
}

.s_showMore {
  display: flex;
}
.s_showMore hr {
  width: 40%;
  color: #565656;
}

.shopMore {
  margin-top: 5px;
  white-space: nowrap;
  font-size: 13px;
  font-weight: normal;
  font-family: myriadprobold, sans-serif;
  color: #454545;
  line-height: 1;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.shopMore:hover {
  text-decoration: underline;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.footer {
  background: #1f1f1f;
  margin-top: 60px;
}

.columnContainer {
  display: flex;
  padding-top: 60px;
}

.footer__column_first, .footer__column_second, .footer__column_third {
  display: flex;
  flex-direction: column;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer__column_first {
  width: 40%;
  padding-right: 25px;
}

.footer__column_second {
  width: 35%;
  padding: 0 25px;
}

.footer__column_third {
  width: 25%;
  padding-left: 25px;
}

.aboutFengo, .mostFavorite, .blogLinks, .quickContact, .subscribeForm, .information, .myAccount, .customer, .contacts, .twitter, .facebook {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}
.aboutFengo h3, .mostFavorite h3, .blogLinks h3, .quickContact h3, .subscribeForm h3, .information h3, .myAccount h3, .customer h3, .contacts h3, .twitter h3, .facebook h3 {
  margin: 0;
  font-size: 17px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #b6b6b6;
  line-height: 1.2;
  text-transform: uppercase;
}

.aboutFengo__container, .miniItems__container, .quickContact__container {
  display: flex;
  margin-top: 35px;
}
.aboutFengo__container img, .miniItems__container img, .quickContact__container img {
  -o-object-fit: cover;
  object-fit: cover;
}

.aboutFengo__text {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 1.4;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.aboutFengo__text P {
  margin: 0;
}

.footerLink {
  text-transform: uppercase;
  width: fit-content;
  font-size: 14px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #b6b6b6;
  line-height: 1.2;
}
.footerLink:hover {
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-decoration: underline;
}

.miniHeader_arrows, .miniHeader_button {
  display: flex;
  justify-content: space-between;
}

.arrowsContainer {
  width: 50px;
  display: inline-block;
  font-size: 22px;
}
.arrowsContainer a {
  color: #b6b6b6;
}

.blogLinks__container {
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
}

.blogLinksItem img {
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
}
.blogLinksItem a p {
  font-size: 13px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #999999;
  line-height: 1.3;
  text-transform: uppercase;
}

.quickContact__container {
  justify-content: space-between;
}
.quickContact__container img {
  height: 210px;
}

.quickContact__form {
  width: 48%;
}
.quickContact__form label {
  display: none;
}
.quickContact__form input, .quickContact__form textarea {
  width: 100%;
  background: #1f1f1f;
  padding: 10px;
  line-height: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #999999;
  line-height: 1;
  border: 1px solid #999999;
  margin-bottom: 10px;
}
.quickContact__form input:nth-child(3), .quickContact__form textarea:nth-child(3) {
  min-height: 120px;
}
.quickContact__form input:nth-child(3) text, .quickContact__form textarea:nth-child(3) text {
  padding: 10px;
}

.sendMessage {
  font-size: 12px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #999999;
  line-height: 1;
  text-transform: uppercase;
}

.subscribeForm form {
  display: inline-flex;
  width: 100%;
  border: 1px solid #999999;
}
.subscribeForm form label {
  display: none;
}
.subscribeForm form input {
  padding-left: 50px;
  background: #1f1f1f;
  font-size: 12px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #999999;
  line-height: 1;
  line-height: 50px;
  border: none;
  width: 100%;
}
.subscribeForm form button {
  background: #1f1f1f;
  border: none;
  font-size: 30px;
  color: #7e7e7e;
  padding: 0 20px;
  margin-bottom: 5px;
  cursor: pointer;
}

.miniItems__container {
  display: flex;
  justify-content: space-between;
}

.shop-miniItem {
  max-width: 150px;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.shop-miniItem img {
  -o-object-fit: cover;
  object-fit: cover;
  height: auto;
}
.shop-miniItem:hover {
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  box-shadow: inset 0 0 10px 5px #7e7e7e;
}

.shop-miniItem__name {
  display: flex;
}

.namePrice_miniItem {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 1.2;
}

.cost_miniItem {
  margin-left: 15px;
  font-size: 14px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #FFFFFF;
  line-height: 1.4;
}
.cost_miniItem span {
  text-decoration: line-through;
}

.miniHeader__button {
  display: flex;
  justify-content: space-between;
}

.miniButton {
  width: 70px;
  height: 20px;
  font-size: 12px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 20px;
  border: 1px solid #7e7e7e;
  text-align: center;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.miniButton:hover {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.twitter__container {
  margin-top: 30px;
}

.twitter__name {
  display: flex;
}
.twitter__name img {
  height: 40px;
}

.twitter__name__link {
  padding-left: 20px;
  font-size: 17px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 1.2;
}
.twitter__name__link span {
  font-size: 13px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #999999;
  line-height: 1.2;
}

.twitter__post {
  font-size: 14px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 1.4;
}
.twitter__post p {
  margin: 20px 0 0;
}

.twitter__links {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #999999;
  line-height: 1.2;
}
.twitter__links p {
  margin: 20px 0 0;
}
.twitter__links ul {
  display: flex;
  margin: 20px 0 0;
}
.twitter__links ul li {
  padding-left: 20px;
}
.twitter__links ul li a {
  font-size: 13px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #999999;
  line-height: 1.2;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.twitter__links ul li a:hover {
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: #FFFFFF;
}

.facebook__container {
  margin-top: 30px;
  font-size: 13px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #999999;
  line-height: 1.2;
}
.facebook__container a {
  font-size: 13px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #b6b6b6;
  line-height: 1.2;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.facebook__container a:hover {
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: #FFFFFF;
  text-decoration: underline;
}

.facebook__text {
  display: flex;
}
.facebook__text p {
  margin: 0;
}
.facebook__text a {
  margin-left: 10px;
}

.facebook__users {
  margin-top: 20px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.facebook__users img {
  height: 60px;
  border: 3px solid #565656;
}

.information, .myAccount, .customer, .contacts {
  padding-bottom: 45px;
}
.information ul, .myAccount ul, .customer ul, .contacts ul {
  margin-top: 25px;
}
.information ul li, .myAccount ul li, .customer ul li, .contacts ul li {
  padding: 8px 0;
}
.information ul li a, .myAccount ul li a, .customer ul li a, .contacts ul li a {
  font-size: 14px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 1;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.information ul li a:hover, .myAccount ul li a:hover, .customer ul li a:hover, .contacts ul li a:hover {
  color: #FFFFFF;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.contacts {
  font-size: 14px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #7e7e7e;
  line-height: 1;
}

.footer__cnLinks {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.footerInfoContainer ul {
  display: flex;
  justify-content: space-between;
}
.footerInfoContainer p {
  font-size: 12px;
  font-weight: normal;
  font-family: myriadpro, sans-serif;
  color: #999999;
  line-height: 1;
}

.cnContainer ul {
  display: flex;
}
.cnContainer ul li {
  margin: 0 4px;
  border: 2px solid #999999;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.cnContainer ul li:hover {
  box-shadow: inset 0 0 5px 3px #7e7e7e;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.cnContainer ul li a {
  color: #999999;
  font-size: 22px;
  padding: 5px;
}

/*# sourceMappingURL=stile.css.map */
