@font-face
  font-family: "myriadprobold"
  src: local("E:/www/adatsite/fonts/MyriadProBold.otf")

@font-face
  font-family: "myriadpro"
  src: local("E:/www/adatsite/fonts/MyriadProReg.otf")

@font-face
  font-family: "myriadproit"
  src: local("E:/www/adatsite/fonts/MyriadProIt.otf")

@mixin font($color: $textDarkGrey, $family: $regular, $weight: normal, $size: $fs14, $line: 1)
  font:
    size: $size
    weight: $weight
    family: $family
  color: $color
  line-height: $line

@mixin transition($transition: all 0.4s ease 0s)
  -moz-transition: $transition
  -o-transition: $transition
  -webkit-transition: $transition
  transition: $transition

@mixin box-sizing($box-sizing: border-box)
  -moz-box-sizing: $box-sizing
  -webkit-box-sizing: $box-sizing
  box-sizing: $box-sizing

@mixin box-shadow($shadow: 0 0 10px rgba(0, 0, 0, 0.17))
  -webkit-box-shadow: $shadow
  -moz-box-shadow: $shadow
  box-shadow: $shadow

@mixin object-fit($object: cover)
  -o-object-fit: $object
  object-fit: $object

//  COLORS
$textDarkGrey: #565656
$textGrey: #999999
$textUltraDarkGrey: #454545
$textLightGrey: #7e7e7e
$textUltraLightGrey: #b6b6b6
$bgGrey: #cccccc
$bgBlack: #1f1f1f
$red: #cf4647
$white: #FFFFFF
$almostBlack: #333333
$almostWhite: #dbdbdb


//  SIZES
$fs11: 11px
$fs12: 12px
$fs13: 13px
$fs14: 14px
$fs16: 16px
$fs17: 17px
$fs18: 18px
$fs20: 20px
$fs23: 23px
$fs25: 25px
$fs30: 30px
$fs35: 35px
$fs40: 40px
$fs44: 44px
$mBottom: 70px

//  FONTS
$regular: myriadpro, sans-serif
$bold: myriadprobold, sans-serif
$it: myriadproit, sans-serif

ul
  list-style-type: none
  padding-inline-start: 0

a
  text-decoration: none

input, textarea
  outline: none

@media (max-width: 1200px)
.container
  max-width: 1170px
  margin: 0 auto
  width: 100%

.wrapper
  max-width: 1920px
  display: flex
  flex-direction: column
  margin: 0 auto

.header
  position: relative

.header-firstline
  display: flex
  justify-content: space-between
  background: #f6f6f6
  position: fixed
  top: 0
  z-index: 3
  width: 100%
  left: 0

.headerNav__container
  display: flex
  width: 100%
  position: relative

.loginNavigation
  display: flex
  li
    margin: 0 10px
    @include font($color: $textLightGrey, $size: $fs11)
    &:first-child
      margin-left: 0
    a
      @include font($color: $textLightGrey, $size: $fs11)

.login
  display: flex
  li
    margin: 0 10px
    @include font($color: $textLightGrey, $size: $fs11)
    &:nth-child(2)
      margin: 0
    a
      @include font($color: $textLightGrey, $size: $fs11)

.cartAndRegion-panel
  position: absolute
  top: 16px
  right: 0
  @include font($color: $textLightGrey, $size: $fs11)
  z-index: 4
  a
    margin-left: 15px
    @include font($color: $textLightGrey, $size: $fs11)

.header__secondline
  position: relative
  height: 110px
  margin-top: 45px

.searchForm__container
  position: absolute
  top: 0
  right: 0

.logo
  margin-top: 50px
  position: absolute
  bottom: 20px
  left: 0
  a
    display: flex
    color: #454545
    @include font($color: $textUltraDarkGrey, $family: $bold, $size: $fs44, $line: 1)
    img
      border-style: none
      transform: translateY(5px)
      height: 32px
      padding-right: 10px

.searchForm
  font-family: myriadpro, sans-serif
  margin-top: 20px
  height: 30px
  width: 260px
  border: 1px solid #e1e1e1
  display: flex
  label
    display: none
  input
    width: 100%
    padding-left: 10px
    border: none
  button
    border: none
    cursor: pointer
    background: none
    font-size: 15px
    color: #888888

.mainNavigation__container
  position: absolute
  bottom: 20px
  right: 0

.cart__mobile
  display: none

.u_mainNavigation
  display: inline-flex
  margin: 0
  li
    margin: 10px 15px 0
    white-space: nowrap
    &:last-child
      margin: 10px 0 0 25px
    a
      @include font($weight: bold)
      opacity: 0.8
      padding: 10px
      @include transition
      &:hover
        text-decoration: underline
        @include transition
        opacity: 1

.sliderBig
  background: $bgGrey
  height: 1070px

.slider__container
  position: relative
  height: 100%

.slider__text
  @include font($color: $textUltraDarkGrey, $weight: bold, $size: $fs30)
  position: absolute
  top: 50%
  left: 50%
  transform: translateY(-50%)
  h3
    font-size: 100px
    color: $white
    margin: 20px 0
  span
    font-size: 35px
  a
    font-size: $fs14
    color: $textUltraDarkGrey
    @include transition
    &:hover
      @include transition
      color: $white
      text-decoration: underline

.sliderRing
  &:hover
    fill: $white

.mobile__sliderBig
  display: none
  background: $bgGrey
  margin: 0 auto
  width: 100%
  text-align: center
  position: relative
  a
    @include font($color: $white, $family: $bold, $size: $fs14)
    transform: translateX(-50%)
    @include transition
    bottom: 20px
    left: 50%
    &:hover
      @include transition
      text-decoration: underline

.mobile__sliderBig__container
  @include font($color: $white, $family: $bold, $size: $fs18)
  margin-top: 10px
  border: 1px solid $almostWhite
  padding: 0 7px 30px
  display: inline-block
  h3
    font-size: $fs35
    margin: 30px 5px 0
  p
    margin: 13px 0 18px
.s_showcase
  background: #f6f6f6

.showcase
  padding: 30px 0 65px
  display: grid
  grid-gap: 20px
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: 430px 250px 250px

.showcase__item1, .showcase__item2, .showcase__item3, .showcase__item4, .showcase__item5, .showcase__item6
  background: $bgGrey
  margin: 0 auto
  width: 100%
  text-align: center
  position: relative
  a
    position: absolute
    @include font($color: $white, $family: $bold, $size: $fs14)
    transform: translateX(-50%)
    @include transition
    &:hover
      @include transition
      text-decoration: underline

.showcase__item1
  grid-column: span 2
  a
    bottom: 20px
    left: 50%

.showcase__item1__box
  @include font($color: $white, $family: $bold, $size: $fs25)
  margin-top: 110px
  border: 1px solid $almostWhite
  padding: 0 20px 70px
  display: inline-block
  h3
    font-size: $fs40
    margin: 70px 10px 20px

.leftArrow, .rightArrow
  top: 50%
  position: absolute
  width: 45px
  a
    font-size: 40px
    position: static
    color: $white
    @include transition
    &:hover
      color: $textDarkGrey
      @include transition

.leftArrow
  left: 10px
  transform: translateX(50%)

.rightArrow
  right: 10px
  transform: translateX(-50%)

.nameWithStripes1
  display: flex
  hr
    width: 100px
    transform: translateY(89px)
    border: 1px solid $white

.showcase__item2
  grid-row: span 2
  a
    bottom: 50px

.showcase__item2__box
  @include font($color: $almostBlack, $weight: bold, $family: $bold, $size: $fs20)
  margin-top: 40px
  h3
    font-size: $fs25
    margin: 15px 10px 20px
  span
    font-size: 18px

.nameWithStripes2
  display: flex
  hr
    width: 50px
    transform: translateY(22px)
    border: 1px solid $almostBlack

.showcase__item3, .showcase__item6
  a
    bottom: 20px

.showcase__item4
  grid-row: span 2
  a
    bottom: 60px

.showcase__item4__box
  @include font($color: $white, $family: $bold, $size: $fs30)
  margin-top: 210px
  span
    font-size: $fs18
    margin: 20px 0
  h3
    font-size: $fs35
    margin: 0

.nameWithStripes4
  display: flex
  hr
    width: 80px
    transform: translateY(12px)
    border: 1px solid $white


.showcase__item3__box, .showcase__item6__box
  @include font($color: $white, $family: $bold, $size: $fs23)
  margin-top: 90px
  h3
    font-size: $fs40
    margin: 0 0 20px

.showcase__item5
  @include font($color: $white, $weight: bold, $family: $bold, $size: $fs30)
  p
    margin-top: 115px

.showcase__item6__box
  font-size: 25px
  h3
    font-size: $fs30

.nameWithStripes6
  display: flex
  hr
    width: 50px
    transform: translateY(10px)
    border: 1px solid white

.shop-navigation
  margin-top: 50px
  text-align: center

  ul
    display: inline-flex

    li
      margin: 0 25px

      a
        @include font($color: $textGrey, $family: $bold, $size: $fs16, $line: 1)
        padding: 10px
        @include transition
        &:hover
          @include font($color: $textDarkGrey, $family: $bold, $size: $fs16, $line: 1)
          border-bottom: 2px solid $textUltraDarkGrey
          @include transition

.shop-container
  margin-top: 50px
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.buy
  opacity: 0
  @include transition

.shop-item
  display: flex
  flex-direction: column
  width: 23%

  img
    @include object-fit
    max-height: 350px

  &:hover .buy
    opacity: 1
    @include transition

.namePrice
  @include font($family: $regular, $size: $fs13, $line: 1.5)
  display: flex
  justify-content: space-between
  margin-top: 25px

.buy__cartInfo
  margin-top: 10px
  border: 2px solid $textUltraDarkGrey
  display: flex
  justify-content: space-around

  a
    width: 50%
    text-align: center
    @include font($color: $textUltraDarkGrey, $family: $bold, $size: $fs14, $line: 30px)

    &:nth-child(2)
      border-left: 2px solid $textUltraDarkGrey

.buy__wish
  display: flex
  justify-content: space-between

  a
    @include font($color: $textUltraDarkGrey, $family: $it, $size: $fs13, $line: 30px)

.buyLink
  @include transition

  &:hover
    text-decoration: underline
    @include transition

.cost
  font-weight: bold
  display: flex
  flex-direction: column
  text-align: end

  span
    text-decoration: line-through
    opacity: 0.6

.s_showMore
  display: flex

  hr
    width: 40%
    color: $textDarkGrey

.shopMore
  margin-top: 5px
  white-space: nowrap
  @include font($color: $textUltraDarkGrey, $family: $bold, $size: $fs13)
  @include transition

  &:hover
    text-decoration: underline
    @include transition

.footer
  background: $bgBlack
  margin-top: 60px

.columnContainer
  display: flex
  padding-top: 60px

.footer__column_first, .footer__column_second, .footer__column_third
  display: flex
  flex-direction: column
  @include box-sizing

.footer__column_first
  width: 40%
  padding-right: 25px

.footer__column_second
  width: 35%
  padding: 0 25px

.footer__column_third
  width: 25%
  padding-left: 25px

.aboutFengo, .mostFavorite, .blogLinks, .quickContact, .subscribeForm, .information, .myAccount, .customer, .contacts, .twitter, .facebook
  margin-top: 60px
  display: flex
  flex-direction: column
  padding-bottom: 60px

  h3
    margin: 0
    @include font($color: $textUltraLightGrey, $size: $fs17, $line: 1.2)
    text-transform: uppercase

.aboutFengo__container, .miniItems__container, .quickContact__container
  display: flex
  margin-top: 35px
  img
    @include object-fit

.aboutFengo__container
  display: flex
  flex-direction: column
  justify-content: space-between
  @include font($color: $textLightGrey, $size: $fs14, $line: 1.4)
  @include transition
  img
    width: 180px
    float: left
    padding-right: 20px
  a
    line-height: 2.5

.footerLink
  text-transform: uppercase
  width: fit-content
  @include font($color: $textUltraLightGrey, $size: $fs14, $line: 1.2)

  &:hover
    @include transition
    text-decoration: underline

.miniHeader_arrows, .miniHeader_button
  display: flex
  justify-content: space-between

.arrowsContainer
  width: 50px
  display: inline-block
  font-size: 22px

  a
    color: $textUltraLightGrey

.blogLinks__container
  display: flex
  margin-top: 35px
  justify-content: space-between

.blogLinksItem1, .blogLinksItem2
  img
    width: 205px
    @include object-fit

  a
    p
      @include font($color: $textGrey, $family: $regular, $size: $fs13, $line: 1.3)
      text-transform: uppercase

.quickContact__container
  justify-content: space-between

  img
    height: 210px

.quickContact__form
  width: 48%

  label
    display: none

  input, textarea
    width: 100%
    background: $bgBlack
    padding: 10px
    line-height: 30px
    @include box-sizing
    @include font($color: $textGrey, $family: $regular, $size: $fs12)
    border: 1px solid $textGrey
    margin-bottom: 10px

    &:nth-child(3)
      min-height: 120px

      text
        padding: 10px

.sendMessage
  @include font($color: $textGrey, $family: $regular, $size: $fs12)
  text-transform: uppercase

.subscribeForm
  form
    display: inline-flex
    width: 100%
    border: 1px solid $textGrey

    label
      display: none

    input
      padding-left: 50px
      background: $bgBlack
      @include font($color: $textGrey, $family: $regular, $size: $fs12)
      line-height: 50px
      border: none
      width: 100%

    button
      background: $bgBlack
      border: none
      font-size: 30px
      color: $textLightGrey
      padding: 0 20px
      margin-bottom: 5px
      cursor: pointer

.miniItems__container
  display: flex
  justify-content: space-between

.shop-miniItem1, .shop-miniItem2
  width: 150px

  img
    @include object-fit
    height: auto
  @include transition

  &:hover
    @include transition
    box-shadow: inset 0 0 10px 5px #7e7e7e

.shop-miniItem__name
  display: flex

.namePrice_miniItem
  margin-top: 15px
  display: flex
  justify-content: space-between
  @include font($color: $textLightGrey, $size: $fs12, $line: 1.2)

.cost_miniItem
  margin-left: 15px
  @include font($color: $white, $size: $fs14, $line: 1.4)

  span
    text-decoration: line-through

.miniHeader__button
  display: flex
  justify-content: space-between

.miniButton
  width: 70px
  height: 20px
  @include font($color: $textLightGrey, $size: $fs12, $line: 20px)
  border: 1px solid $textLightGrey
  text-align: center
  @include transition

  &:hover
    color: $white
    border: 1px solid $white
    @include transition

.twitter__container1, .twitter__container2
  margin-top: 30px

.twitter__name
  display: flex

  img
    height: 40px

.twitter__name__link
  padding-left: 20px
  @include font($color: $textLightGrey, $size: $fs17, $line: 1.2)

  span
    @include font($color: $textGrey, $size: $fs13, $line: 1.2)

.twitter__post
  @include font($color: $textLightGrey, $size: $fs14, $line: 1.4)

  p
    margin: 20px 0 0

.twitter__links
  margin-top: 20px
  display: flex
  justify-content: space-between
  @include font($color: $textGrey, $size: $fs13, $line: 1.2)

  p
    margin: 0

  ul
    display: flex
    margin: 0

    li
      padding-left: 20px

      a
        @include font($color: $textGrey, $size: $fs13, $line: 1.2)
        @include transition

        &:hover
          @include transition
          color: $white

.facebook__container
  margin-top: 30px
  @include font($color: $textGrey, $size: $fs13, $line: 1.2)
  a
    @include font($color: $textUltraLightGrey, $size: $fs13, $line: 1.2)
    @include transition
    &:hover
      @include transition
      color: $white
      text-decoration: underline

.facebook__text
  display: flex
  p
    margin: 0
  a
    margin-left: 10px

.facebook__users
  margin-top: 20px
  display: grid
  grid-gap: 25px
  grid-template-columns: repeat(4, 1fr)
  grid-template-rows: repeat(2, 1fr)
  img
    height: 60px
    border: 3px solid $textDarkGrey


.information, .myAccount, .customer, .contacts
  padding-bottom: 45px

  ul
    margin-top: 25px

    li
      padding: 8px 0

      a
        @include font($color: $textLightGrey, $size: $fs14)
        @include transition

        &:hover
          color: $white
          @include transition

.contacts
  @include font($color: $textLightGrey, $size: $fs14)

.footer__Links
  margin-top: 40px
  display: flex
  justify-content: space-between

.paymentSystems
  ul
    display: flex
    justify-content: space-between
    li
      margin: 0 8px
      &:first-child
        margin-left: 0

.reservedRights__container
  display: flex
  margin: -25px 0 35px
  p
    @include font($color: $textGrey, $family: $regular, $size: $fs12)

.cnContainer
  ul
    display: flex

    li
      margin: 0 4px
      border: 2px solid $textGrey
      height: 40px
      width: 40px
      display: flex
      align-items: center
      justify-content: center
      @include transition($transition: all 0.2s ease 0s)

      &:hover
        box-shadow: inset 0 0 5px 3px #7e7e7e
        @include transition($transition: all 0.2s ease 0s)

      a
        color: $textGrey
        font-size: 22px
        padding: 5px

.marker__container
  display: flex
  position: absolute
  bottom: 20px
  left: 50%
  transform: translateX(-50%)
  a
    position: static
    margin: 0 3px

.sliderRing
  &:hover
    fill: $white

@media only screen and (max-width: 480px)
  .wrapper
    max-width: 480px
  .container
    max-width: 440px
    margin: 0 auto
    padding: 0 20px
    @include box-sizing
  .loginNavigation
    justify-content: space-around
    width: 100%
    li
      &:nth-child(4), :nth-child(5), :nth-child(6)
        display: none
  .cartAndRegion-panel
    display: none
  .login
    display: none
  .cart__mobile
    display: flex
    a
      @include font
      opacity: 0.8
  .nameWithStripesSlider
    display: flex
    justify-content: center
    hr
      width: 15px
      transform: translateY(56px)
      border: 2px solid $white
      margin: 0
  .sliderBig
    display: none
  .mobile__sliderBig
    display: flex
  .mobile__sliderBig__container
    margin: 20px 15px
    width: 100%
  .showcase
    grid-template-columns: 100%
    grid-template-rows: 165px 540px 190px 190px 400px 190px
    grid-gap: 10px
  .showcase__item1
    grid-column: unset
    a
      bottom: 7px
  .leftArrow, .rightArrow
    display: none
  .showcase__item1__box
    display: block
    margin: 15px 15px 30px
    padding: 0 20px 35px
    font-size: 15px
    p
      margin: 0
  .nameWithStripes1
    h3
      margin: 35px 10px 10px
      font-size: 21px
    hr
      transform: translateY(43px)
  .showcase__item2
    grid-row: unset
    font-size: 15px
    a
      bottom: 20px
  .showcase__item2__box
    font-size: 15px
    p
      margin: 0
  .nameWithStripes2
    h3
      margin: 10px 5px 10px
      font-size: 20px
    hr
      width: 40px
      transform: translateY(17px)
  .showcase__item3__box, .showcase__item6__box
    margin-top: 60px
    font-size: 20px
    h3
      margin: 0 0 15px
      font-size: 35px
  .showcase__item6__box
    p
      margin: 0
  .nameWithStripes6
    hr
      width: 40px
      transform: translateY(9px)
    h3
      font-size: 25px
  .showcase__item4
    grid-row: unset
    order: 1
    a
      bottom: 50px
  .showcase__item4__box
    margin-top: 130px
  .showcase__item5
    order: 1
  .showcase__item5
    p
      margin-top: 85px
  .shop-navigation
    margin-top: 10px
    ul
      display: flex
      flex-direction: column
      li
        margin-top: 20px
  .shop-container
    margin-top: 30px
    flex-direction: column
    align-content: center
  .shop-item
    width: 100%
    max-width: 280px
    &:nth-child(n+6)
      display: none
  .shopMore
    padding: 0 20px
  .s_showMore
    hr
      transform: translateY(2px)
  .columnContainer
    flex-direction: column
    padding: 0
    margin-top: 10px
  .footer__column_first, .footer__column_second, .footer__column_third
    width: 100%
    padding: 0
  .aboutFengo, .mostFavorite, .blogLinks, .quickContact, .subscribeForm, .information, .myAccount, .customer, .contacts, .twitter, .facebook
    margin-top: 40px
    display: flex
    flex-direction: column
    padding-bottom: 40px
  .aboutFengo
    img
      width: 120px
  .blogLinksItem1
    width: 100%
    img
      width: 100%
    a
      p
        font-size: 15px
  .blogLinksItem2
    display: none
  .quickContact__container
    flex-direction: column
    img
      width: 100%
      height: 130px
  .quickContact
    form
      margin-top: 20px
      width: 100%
  .subscribeForm
    form
      input
        padding-left: 10px
  .miniItems__container
    margin-top: 20px
  .shop-miniItem1, .shop-miniItem2
    width: 47%
    a
      width: 100%
      img
        width: 100%
  .namePrice_miniItem
    flex-direction: column
  .cost_miniItem
    margin: 15px 0 0
  .twitter__container1
    padding-bottom: 20px
  .twitter__links
    margin-top: 15px
  .facebook__container
    a
      text-align: center
  .facebook__users
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(2, 1fr)
    a
      &:nth-child(8)
        display: none
      &:nth-child(7)
        display: none
  .footer__Links
    flex-direction: column
    padding: 0 20px
  .cnContainer
    ul
      flex-wrap: wrap
      li
        margin: 0 4px 8px
  .paymentSystems
    ul
      display: flex
      justify-content: space-around
  .cnContainer
    flex-wrap: wrap
  .reservedRights__container
    display: flex
    flex-direction: column
    margin: 0 0 35px
    p
      margin: 0 20px 5px